<h1><%= t("login.user_login") %></h1>
<hr>
<%= form_tag(login_path, method: :post) do %>
  <div> <%=t("login.account")%>：<%= text_field_tag :email %></div> <br>
  <div> <%=t("login.password")%>：<%= password_field_tag :password %></div><br> 
  <%= submit_tag t("submit") %>
<% end %> 
