<table>
  <%= form_for task do |f| %>
    <tr><td>任務名稱：<%= f.text_field :title %></td></tr>
    <tr><td>任務描述：<%= f.text_area :description%></td></tr>
    <tr><td>任務狀態：<%= f.select :state , options_for_select(["created", "progressing", "completed"]) %></td></tr>
    <tr><td>任務優先度：<%= f.select :priority, options_for_select(["low", "normal", "high"]) %></td></tr>
    <tr><td>任務截止日期：<%= f.datetime_select :deadline %></td></tr>
    <tr><td><%= f.submit %></td></tr>
  <% end %>
</table>
