<h1><%= t("task.list") %></h1>

<%= link_to t("task.create"), new_task_path %>
<table>
  <thead>
    <tr>
      <td><%= t("task.title")%></td>
      <td><%= t("task.description")%></td>
      <td><%= t("task.state")%></td>
      <td><%= t("task.priority")%></td>
      <td><%= t("task.created_at")%></td>
      <td><%= t("task.deadline")%></td>
      <td><%= t("task.view")%></td>
      <td><%= t("task.edit")%></td>
      <td><%= t("task.delete")%></td>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= t("states.#{task.state}") %></td>
        <td><%= t("priorities.#{task.priority}")%></td>
        <td><%= task.created_at %></td>
        <td><%= task.deadline %></td>
        <td><%= link_to t(:view), task_path(task[:id]) %></td>
        <td><%= link_to t(:edit), edit_task_path(task[:id]) %></td>
        <td><%= link_to t(:delete), task_path(task[:id]), method: :delete, data:{ confirm:"確認刪除？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
