<h1><%= @task.title %></h1>
<table>
  <tr><td><%= t("task.description")%>：<%= @task.description %></td></tr>
  <tr><td><%= t("task.state")%>：<%= t("states.#{@task.state}") %></td></tr>
  <tr><td><%= t("task.priority") %>：<%= t("priorities.#{@task.priority}") %></td></tr>
  <tr><td><%= t("task.created_at")%>：<%= @task.created_at %></td></tr>
  <tr><td><%= t("task.deadline")%>：<%= @task.deadline %></td></tr>
</table>

<div><%= link_to t("task.back_task_list"), tasks_path, class: "btn btn-primary" %> </div>
