<%#處理驗證的錯誤信息%>
<% if user.errors.any? %>
  <ul>
    <% user.errors.full_messages.each do |message| %>
      <li style="color:red; "><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [:admin, user] do |f| %>
  <table>
    <tbody>
      <tr><td> <%= t("user.email") %>：<%= f.text_field :email %></td></tr>
      <tr><td><%= t("user.password") %>：<%= f.password_field :password %></td></tr>
      <tr><td><%= t("user.role") %>：<%= f.select :role, options_for_select([[t("role.normal"),"normal"],[t("role.admin"),"admin"]], user.role) %></td></tr>
      <tr><td><%= f.submit %></td></tr>
    </tbody>
  </table>
<% end %>

